@(product: models.Product, relatedProducts: Seq[models.Product])(implicit ctx: Prismic.Context)

@main(id = "product", title = product.name.flatMap(_.text)) {

  <section id="detail">

    <div>

      <img src="@(product.image_main.map(_.url).getOrElse(routes.Assets.at("images/missing-image.png")))">

      <h4>
        <strong>@product.name.flatMap(_.text).getOrElse("Missing product name")</strong>
        @product.price("$0.00").map { price =><em>@price</em>}
      </h4>

      <h2>
        @product.short_lede.flatMap(_.text).orElse(product.name.flatMap(_.text)).getOrElse("Product")
      </h2>

      @product.description.flatMap(_.html(ctx.linkResolver)).map(Html.apply)

      <p>
        <a @product.flavour.flatMap(_.text).map { flavour => href="@routes.Application.productsByFlavour(flavour, ref = ctx.maybeRef)"}>
          <strong class="color" style="background: @product.color.flatMap(_.text)">@product.color.flatMap(_.text)</strong>
        </a>
      </p>

    </div>

    <p>
      <a href="@routes.Application.products(ref = ctx.maybeRef)">Browse all our products</a>
    </p>

  </section>

  @product.gallery_main.map { img =>
    <section id="gallery" style="background-image: url(@img.url)"></section>
  }.getOrElse {

    @for(
      author <- product.testimonial_author.flatMap(_.text);
      quote <- product.testimonial_quote.flatMap(_.text)
    ) {
      <section id="quote">
        <blockquote>@quote <strong>said @author</strong></blockquote>
      </section>
    }

  }

  @Option(relatedProducts).filterNot(_.isEmpty).map {
    case products => {

      <section id="related" class="products">

        <h2>You might like these as well</h2>

        <ul>
          @products.map { product =>
            <li data-category="@product.tags.filter(Application.ProductCategories.contains).headOption">
              <a href="@routes.Application.productDetail(product.id, product.slug, ref = ctx.maybeRef)">
                <img src="@(product.image_icon.map(_.url).getOrElse(routes.Assets.at("images/missing-image.png")))">
                <span>@product.name.flatMap(_.text).getOrElse("Product")</span>
                <em>@product.price("$0.00").getOrElse("–")</em>
              </a>
            </li>
          }
        </ul>
      </section>

    }
  }

}